body {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 3.5rem;
}

#navbar-logo {
  padding: 0px 0px 0px 0px;
  float: left;
  display: inline-block;
}

.navbar {
  margin-bottom: 20px;
  margin-top: 0px;
}

.container-fluid {
  margin-top: 30px;
}
